@use '@/sass/variaveis' as *;

.evento {
    align-items: center;
    border-bottom: 1px solid #bbbdc750;
    display: grid;
    gap: 1rem;
    grid-template-columns: auto 1fr auto;
    padding: 0.625rem 1.25rem;

    .descricao {
        font-size: 1.125rem;
        font-weight: 700;
        text-decoration: none;
    }

    i {
        cursor: pointer;
    }

    &.completo {
        background: $verde-claro-com-opacidade;

        .descricao {
            text-decoration: line-through;
        }
    }
}
