@use '@/sass/variaveis' as *;

@mixin estilos-input {
    background-color: $branco;
    border: 1px solid transparent;
    border-color: $cinza-claro;
    border-radius: 0.375rem;
    box-shadow: inset 0 0.0625rem 0.125rem rgb(10 10 10 / 5%);
    color: $cinza-escuro;
    font-size: 1rem;
    flex-grow: 1;
    height: 2.5rem;
    margin: 0.5rem 0 0.625rem;
    padding: 0.5rem 0.75rem;
}

@mixin estilos-botao {
    background: $azul-claro;
    border: 1px solid $roxo-com-opacidade;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 1rem;
    margin: 0.5rem 0;
    padding: 0.75rem 1.5rem;

    &:hover {
        background: $roxo-com-opacidade;
        border-color: $azul-claro;
    }
}
