$azul-claro: #95bae8;
$branco: #ffffff;
$branco-com-opacidade: #ffffff83;
$cinza-claro: #dbdbdb;
$cinza-claro-2: #f5f5f5;
$cinza-escuro: #363636;
$preto: #000000;
$rosa-claro: #eeaeca;
$roxo-com-opacidade: #e4bbff8f;
$verde-claro-com-opacidade: #b7ddf33d;

$fonte-principal: 'Segoe UI', sans-serif;
$fonte-secundaria: 'Arial', sans-serif;
