@use '@/sass/variaveis' as *;
@use '@/sass/mixins' as *;

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    width: 100%;

    .titulo {
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 1.2rem;
    }

    .campos {
        display: flex;
        gap: 1rem;
    }

    .input {
        @include estilos-input;
    }

    .botao {
        background: $azul-claro;
        border: 1px solid $roxo-com-opacidade;
        border-radius: 2rem;
        cursor: pointer;
        font-size: 1rem;
        margin: 0.5rem 0;
        padding: 0.75rem 1.5rem;

        &:hover {
            background: $roxo-com-opacidade;
            border-color: $azul-claro;
        }
    }
}
